; This file is for unifying the coding style for different editors and IDEs.
; More information at http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.csv]
insert_final_newline = false

[*.bat]
end_of_line = crlf

[*.yml]
indent_style = space
indent_size = 4

[*.json]
indent_style = space
indent_size = 2

[*.php]
ij_php_phpdoc_blank_lines_around_parameters = true
ij_php_phpdoc_use_fqcn = true
ij_php_comma_after_last_array_element = true
